p {
  color: silver;
  font-family: verdana;
  font-size: 20px; 

}

h1 {               
  color: olive; 
  font-family: time new roman; 
  text-align:center ;
  background-color: silver; 
}

body {
   background-color:gray;
}

h2 {                 
  color: olive; 
  font-family: arial; 
  text-decoration: underline;
  background-color:silver; 
  width: 120px; height: 25px;
  background-image: gradient(...);
}
  
a {                         
  color:olive;
  font-family: arial; 
  background-color:silver ;
  width: 105px; height: 25px;
  background-image: gradient(...);
}
